#blue-gray-scheme {
  --headerCellBg: #e2e2e2;
  --headerCellText: #181818;
  --active: #00cae4;
  --rowHover: #dbf3f6;
  --headerText: #5f9298;
  --links: #0d98a9;
}

#dark-theme-table {
  --headerCellBg: #181818;
  --headerCellText: white;
  --cellBg: #181818;
  --alternateCellBg: black;
  --text: white;
  --separator: black;
  --active: pink;
  --rowHover: #5a0e0e;
  --headerText: #ec6f85;
  --links: pink;
  --textAgainstNoBg: #181818;
  --inputBg: black;
}
